/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #4E6A52;
  --blue: #71AFFFF5;
  --dark-green: #354F3A;
  --dark-blue: rgb(10, 9, 67);
  --dark-gray: #666666;
  --darker-green: #27302E;
  --darker-gray: #333333;
  --darker-blue: #003476F5;
  --darker-blue-2: #001F3F;
  --light-green: #A8D5BA;
  --light-blue: #B0EFFF;
  --lighter-green: #F1F5F1;
  --lighter-blue: #3FD9FF;
  --light-beige: #F5EFE3;
  --white: #FFFFFF;
  --orange: #E07B4E;
  --light-gray: #9C9C9C;
  --lighter-gray: #CCCCCC;
  --light-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --golden: #C8A514;

  --carousel-color: #F0F0F0;
  --calendar-color: #F9F9F9;
  --calendar-color-hover: #E0E0E0;
  --calendar-color-today: #007BFF;

  --whatsapp-color: #25D366;

  --blue-button: #004080;
  --blue-button-active: #0099FF;

  --blue-border: rgb(24 22 113);

  --text-size-p: 1.2rem;
  --margin-default: 20px;
}

/* Estilos Generales */
body {
  font-family: "Red Hat Text", serif;
  color: var(--dark-blue);
  background-color: var(--white);
  font-size: var(--text-size-p);/*20px;*/
}

header {
  background-color: var(--white);
  color: var(--white);
}

main {
  max-width: 1800px;
  margin-left: 5px;
  margin-right: 5px;
}

p {
  line-height: 1.6;
  font-size: var(--text-size-p);/*1rem;*/
}

h1 {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: left;
  font-family: "Lora", serif;
}

h3 {
  font-size: 1.3rem;
  font-family: "Lora", serif;
}

sup {
  font-size: 0.8rem;
  color: var(--orange);
}

section {
  scroll-margin-top: 80px; /* Ajusta según la altura del header */
}


.skip-to-main {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: var(--orange);
  color: white;
  opacity: 0;
}
.skip-to-main:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

/* Estilos de la Navbar */
.home-header .navbar {
  margin-top: -70px;
}
.navbar {
  position: fixed;
  width: 100%;
  padding: 24px 0;
  background-color: var(--darker-blue-2);/*var(--dark-blue);*/
  background-image: url('../images/CubBlanc.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 1px;
  z-index: 20;
  box-shadow: var(--light-shadow);
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: right;
  padding-right: 25px;
  gap: 12px;
}

/* Enlaces de la Navbar */
.navbar a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  padding: 8px 16px;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar a:hover {
  background-color: var(--golden);/*var(--blue);*/
  color: var(--dark-blue);
  border-radius: 5px;
}

/* Efecto de subrayado animado */
.navbar a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
  left: 0;
}

.navbar a.active {
  background-color: var(--blue-button-active);/*var(--blue);*/
  color: var(--dark-blue);
  border-radius: 5px;
}

/* Estilo del contenedor del carrusel */
.carousel {
  position: relative;
  width: 600px; /* Dimensiones fijas del contenedor */
  height: 300px; /* Ajusta según lo que necesites */
  margin: 0 auto; /* Centra el carrusel */
  overflow: hidden; /* Oculta las partes de las imágenes que excedan el contenedor */
  border-radius: 10px; /* Opcional: esquinas redondeadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra opcional */
  background-color: var(--carousel-color); /* Fondo para las áreas vacías */
}

/* Contenedor de las imágenes */
.carousel-images {
  display: flex; /* Pone las imágenes en fila */
  height: 100%; /* Asegura que el contenedor de imágenes ocupa todo el alto */
  transition: transform 0.5s ease-in-out; /* Transición suave entre imágenes */
}

/* Estilo de las imágenes */
.carousel-images img {
  width: 100%; /* Ocupa todo el ancho del carrusel */
  height: 100%; /* Ocupa todo el alto del carrusel */
  object-fit: cover; /* Ajusta las imágenes al contenedor sin deformarlas */
  flex-shrink: 0; /* Previene que las imágenes se reduzcan */
}

/* Botones del carrusel */
.carousel-button {
  position: absolute;
  top: 50%; /* Centra los botones verticalmente */
  transform: translateY(-50%); /* Ajusta para centrar completamente */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: var(--white);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10; /* Asegura que los botones estén sobre las imágenes */
}

/* Botón izquierdo */
.carousel-button.prev {
  left: 10px;
}

/* Botón derecho */
.carousel-button.next {
  right: 10px;
}

/* Hover en los botones */
.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Hero Section */
.hero-section {
  width: 100%;
  max-width: 1800px;
  margin: 70px auto 0 auto;
  padding: 0px;/*18px;*/
  text-align: center;
}

.hero {
  height: 50vh;
  background-color: var(--white);
  background-image: url('../images/robot_left.svg'), url('../images/robot_right.svg');
  background-size: contain;
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  background-size: 25%;
  color: var(--white);
  text-align: center;
  padding: 100px 50px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.hero-content {
  max-width: 1800px;
  margin: 70px auto;
  background-color: rgb(10, 9, 67, 0);/*rgba(58, 95, 59, 0.7);*/
  padding: 18px;
  border-radius: 8px;
}

.hero h1 {
  font-family: "Lora", serif;
  line-height: 1.2;
  font-size: 5rem;
  color: var(--dark-blue);
}

.hero p {
  font-size: 2rem;
  margin-top: 8px;
  color: var(--dark-blue);
}

/* Media Queries */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.2rem;
  }
}

/* Contenidor del calendari */
.calendar {
  max-width: 350px;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid var(--lighter-gray);
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Red Hat Text", serif;
}

/* Capçalera del calendari */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--darker-gray);
}

.calendar-header button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--dark-gray);
}

.calendar-header button:hover {
  color: black;
}

/* Graella del calendari */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  text-align: center;
}

/* Dies de la setmana */
.day-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--dark-gray);
}

/* Dies del mes */
.day {
  padding: 8px;
  border-radius: 4px;
  font-size: 0.9rem;
  color: var(--darker-gray);
  background-color: var(--calendar-color);
  cursor: pointer;
}

.day:hover {
  background-color: var(--calendar-color-hover);
}

/* Dies destacats (opcional) */
.day.today {
  background-color: var(--calendar-color-today);
  color: var(--white);
  font-weight: bold;
}

.day.special {
  background-color: var(--darker-blue);
  color: var(--white);
  font-weight: bold;
  border-radius: 10px;
}

.day.competition {
  background-color: var(--golden);
  color: var(--white);
  font-weight: bold;
  border-radius: 10px;
}

  /* Introducción */
.introduction {
  background: linear-gradient(var(--light-beige), var(--white));
  display: flex;
  justify-content: center;
}

.introduction>div {
  max-width: 800px;
  padding: 18px;
  text-align: left;
  /* color: var(--dark-green); */
  color: var(--dark-blue);
}

.introduction p {
  font-size: 1.2rem;
  margin-top: var(--margin-default);
  line-height: 1.6;
}

/********COLABORACIONS********/
.highlights {
  background-color: white;
  padding: 40px 18px;
  text-align: left;
}

.highlight-cards {
  display: flex;
  justify-content: space-around;
  gap: 18px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.highlight-card {
  margin-top: 10px;
  flex: 1 1 1 30%;
  background-color: var(--white);
  color: var(--white);
  padding: 18px;
  border-radius: 8px;
  /* box-shadow: var(--light-shadow); */
  text-align: left;
}

/* Imatges dins les targetes */
.highlight-card img {
  max-height: 150px; /* Ajusta l'alçada màxima per uniformitat */
  width: 100%;
  object-fit: contain; /* Garanteix que no es deformin */
  display: block; /* Evita espais no desitjats */
}

/* Responsivitat per a pantalles petites */
@media (max-width: 768px) {
  .highlight-cards {
    flex-direction: column; /* Posa les imatges en columna en pantalles petites */
    gap: 18px;
  }

  .highlight-card img {
    max-width: 70%; /* Ajusta la mida de les imatges en pantalles petites */
  }
}

/* CTA Section */
.cta-section {
  background: linear-gradient(160deg, var(--light-beige), var(--light-green));
  color: var(--dark-blue);/*green);*/
  padding: 200px 18px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Separador Ondulado */
.cta-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: white;
  clip-path: ellipse(60% 100% at 50% 0%);
}

/* Contenido del CTA */

.cta-content p {
  font-size: 1.2rem;
  color: var(--beige);
  margin-bottom: 32px;
}



.cta-content img {
  width: 300px;
  margin-bottom: 18px;
}

/* Footer base */
#footer {
  background-color: var(--darker-gray);/*green);*/
  color: var(--white);
  padding: 48px 18px;
  line-height: 1.4;
  margin-top: 1.5rem;
}

.footer-bottom .underline {
  text-decoration: underline;
}

/* Diseño en una columna para móviles */
.footer-sections {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  text-align: center;
}

.secret-text {
  color: var(--darker-gray);/*green);*/
}

.footer-main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Estilos generales */
.footer-heading {
  font-size: 1.2rem;
  margin-bottom: 16px;
  color: var(--light-gray);/*var(--light-blue);*/
  font-family: "Red Hat Text", serif;
}

footer h2 {
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer a {
  color: var(--light-gray);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

footer a:hover {
  color: var(--light-beige);
}

/* .footer-contact h3 {
  text-align: left;
} */

.footer-contact ul {
  font-size: 0.9rem;
  color: var(--light-gray);
}

.footer-contact li {
  margin-bottom: 8px;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.footer-contact .fas {
  position: relative;
  top: 4px;
}

/* Redes Sociales */
.social-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding-top: 18px;
}

.social-icon {
  color: var(--white);
  font-size: 1.5rem;
  transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
  color: var(--orange);
  transform: scale(1.1);
}

/* Derechos */
.footer-bottom {
  color: var(--light-gray);
  margin-top: 18px;
  text-align: center;
  border-top: 1px solid var(--light-gray);
  padding-top: 16px;
}

.footer-bottom p {
  font-size: 0.8rem;
  margin: 8px 0;
}

.footer-bottom a {
  color: var(--light-gray);
  text-decoration: none;
  font-weight: bold;
}

.footer-bottom a:hover {
  color: var(--white);
}

/* Diseño para pantallas medianas */
@media (min-width: 600px) {
  .footer-sections h2 {
    grid-column: span 3;

  }
  .footer-sections {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }
}

/* Diseño para pantallas grandes */
@media (min-width: 1024px) {
  .footer-sections h2 {
    grid-column: span 1;

  }
  .footer-sections {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    text-align: left;
  }

  .footer-heading,
  footer ul {
    text-align: left;
  }
}

/* Botón de WhatsApp Flotante */
.whatsapp-icon {
  position: fixed;
  bottom: 18px;
  right: 18px;
  background-color: var(--whatsapp-color);
  color: var(--white);
  font-size: 2rem;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: var(--light-shadow);
  transition: transform 0.3s ease;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}

/* Header Section */
.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-blue);/*green);*/
  padding: 118px 18px 48px;
  text-align: center;
  color: var(--dark-blue);/*green);*/
}

.page-header h1 {
  margin-bottom: 8px;
}

.page-header p {
  font-size: 1.2rem;
  max-width: 450px;
}

/* Sustainable Goals Section Styling */
.sustainable-goals {
  /* padding: 40px 18px; */
  margin-top: 10px;
  text-align: left;
}

.sustainable-goals p {
  font-size: 1.1rem;
  /* color: var(--dark-green); */
  color: var(--dark-blue);
  margin-bottom: 32px;
}

figure {
  margin: 20px auto;
  text-align: center;
  border: 1px solid var(--light-beige);
  border-radius: 8px;
  padding: 32px;
}

figure img {
  max-width: 100%;
  height: auto;
}

figcaption {
  margin-top: 8px;
  font-size: 0.9rem;
  color: var(--light-gray);
}


/* Estilos para los ítems de los objetivos */
.goals-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Dos columnas en pantallas grandes */
  gap: 18px;
}

.goal-item {
  background-color: var(--light-beige);
  padding: 18px;
  border-radius: 8px;
  box-shadow: var(--light-shadow);
  text-align: center;
}

.goal-item h3 {
  /* color: var(--dark-green); */
  color: var(--dark-blue);
  margin-bottom: 8px;
}

/* La última fila ocupa toda la columna */
.goals-list .goal-item:last-child {
  grid-column: span 2;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .goals-list {
    grid-template-columns: 1fr;
    /* Cambia a una sola columna */
  }

  .goals-list .goal-item:last-child {
    grid-column: span 1;
  }
}

.featured-projects {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* gap: 2rem; */
  padding: 3rem 1rem;
  /*background: url(../images/landscape.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;*/
}

/* Rest of the Styles for the Page */
.overview,
.key-statistics,
.featured-projects,
.cta {
  padding: 40px 18px;
  text-align: left;
}

.overview {
  margin-bottom: 10px;
}

.key-statistics p {
  /* font-size: 18px; */
  /* width: 100%; */
  /* max-width: 1000px; */
  /* margin: 0 auto; */
  margin-bottom: var(--margin-default);
}
.key-statistics table {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.key-statistics th,
.key-statistics td {
  padding: 16px;
  border: 1px solid var(--lighter-gray);
  text-align: left;
  font-size: 0.95rem;
}

@media (min-width:480px) {
  .key-statistics th,
  .key-statistics td {
    font-size: 1rem;
  }
}

.key-statistics th {
  /* background-color: var(--green); */
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.2rem;
}

.key-statistics .table-header {
  /* background-color: var(--dark-green); */
  background-color: var(--dark-blue);
  color: var(--light-beige);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px 0;
}

.key-statistics tbody tr:nth-child(even) {
  /* background-color:var(--lighter-green); */
  background-color: var(--blue);/*var(--lighter-blue);*/
}

.key-statistics tfoot tr td {
  background-color: var(--dark-blue);/*var(--light-blue);/*green);*/
  font-weight: bold;
  color: white;/*var(--dark-blue);/*green);*/
  text-align: center;
  font-size: 1.1rem;
  padding: 20px;
}

.project-cards {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);/*green);*/
  color: var(--white);
  padding: 18px;
  border-radius: 8px;
  box-shadow: var(--light-shadow);
  max-width: 248px;
}

.project-card h3 {
  margin-bottom: 1rem;
}

.download-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-button button {
  display: block; /* Converteix el botó en un element de bloc */
  margin: 0 auto; /* Centra horitzontalment utilitzant marges automàtics */
  all: unset; /* Elimina tots els estils per defecte */
  display: inline-block;
  padding: 10px 20px;
  width: 230px; /* Amplada fixa */
  height: 30px; /* Alçada fixa */
  background-color: var(--darker-blue-2);
  color: var(--white);
  border: 2px solid var(--darker-blue-2);
  border-radius: 5px;
  font-size: 1.5rem;/*20px;*/
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  line-height: 30px;
}

.download-button button:hover {
  background-color: var(--white); /* Blanc quan el ratolí està sobre */
  color: var(--blue-button); /* Blau fosc per al text */
  border: 2px solid var(--blue-button); /* Bord blau fosc */
}

.download-button button:active {
  background-color: var(--blue-button-active); /* Blau cel quan es clica */
  color: var(--white); /* Blau fosc per al text */
  border: 2px solid var(--blue-button); /* Mateix bord blau fosc */
}

.container-sidebar {
  margin-left: 240px;
  min-height: 100vh; /* Evita que quedi tallat */
  padding-right: 240px; /* Ajusta segons la mida del sidebar */
}

/* Sidebar Card Style */
.sidebar-card {
  position: fixed;
  top: 50%;/*500px;*/
  /* left: 18px; */
  width: 200px;
  padding: 18px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: var(--light-shadow);
  text-align: center;
  z-index: 9;
  border: 5px solid var(--blue-border);
}

@media (min-width: 1440px) {
  .sidebar-card {
    left: calc((100vw - 1440px)/2 + 18px);
  }
}

.sidebar-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-card ul li {
  margin: 8px 0;
}

.sidebar-card ul li a {
  color: var(--darker-blue-2); /*var(--dark-blue);/*green);*/
  text-decoration: none;
  transition: color 0.3s, transform 0.3s, background-color 0.3s;
  display: block;
  padding: 8px;
  border-radius: 5px;
}

.sidebar-card ul li a:hover {
  color: var(--white);
  background-color: var(--darker-blue-2);/*var(--blue-border);*/
  box-shadow: var(--light-shadow);
}

@media (max-width: 768px) {
  .sidebar-card {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    padding: 16px;
    margin-top: 8px;
    box-shadow: none;
    border-radius: 0;
  }

  .container-sidebar {
    margin-left: auto;
  }
}

/* New Sections Styling */
/* .sustainable-goals, */
.partners {
  padding: 40px 18px;
  text-align: left;
}

.contact-wrapper {
  display: grid;
  grid-template-areas: 
    "ctext"
    "form"
    "info";
  justify-items: center;
  align-items: center;
  gap: 24px;
  padding: 48px 8px;
}

@media (min-width: 768px) {
  .contact-wrapper {
  grid-template-areas: 
    "ctext form"
    "info form";
}
}

.contact-text{
  width: 90%;
  grid-area: ctext;
  align-self: end;
}
.contact-info{
  grid-area: info;
  align-self: start;
}

.form-container{
  grid-area: form;
}

.contact-text h2{
  margin-bottom: .5rem;
}

@media (min-width: 768px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


/* Contact Form Section */
.contact-form-section {
  background: var(--light-beige);
  padding: 40px 18px;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  padding: 16px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  color: var(--dark-blue);/*green);*/
  font-weight: bold;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid var(--lighter-gray);
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
  color: var(--light-gray);
  font-style: italic; 
  font-family: "Red Hat Text", serif;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: var(--blue);/*green); */
  box-shadow: 0 0 5px var(--blue);/*green); */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-row.checkbox {
  display: flex;
}

.checkbox a,
.contact-info a {
  color: var(--orange)
}

input[type="checkbox"] {
  position: relative;
  top: 3px;
  width: auto;
  margin-right: 8px;
  accent-color: var(--blue);/*green); */
  transition: accent-color 0.3s ease, box-shadow 0.3s ease;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 16px;
  background-color: var(--blue);/*green);*/
  color: var(--white);
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: var(--dark-blue);/*green);*/
}

/* Fieldset Styles */
fieldset {
  border: 1px solid var(--lighter-gray);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
}

legend {
  font-size: 1.2rem;
  color: var(--dark-blue);/*green);*/
  font-weight: bold;
  margin-bottom: 8px;
  padding: 0 8px;
}


/* Flexbox for phone and country code */
.phone-group {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px; 
}


.phone-group select {
  width: 100%; 
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid var(--lighter-gray);
  border-radius: 5px;
}

/* User Type Field with Radio Buttons */
.user-type {
  margin-bottom: 16px;
}

.user-type label {
  display: block;
  font-weight: bold;
  color: var(--dark-blue);/*green);*/
  margin-bottom: 8px;
}

.radio-options {
  display: flex;
  gap: 15px; /* Separación entre las opciones */
  margin-bottom: 16px;
}

.radio-options label {
  display: flex;
  align-items: center;
  font-weight: normal;
  color: var(--dark-blue);/*green);*/
}

.radio-options input[type="radio"] {
  margin-right: 8px; 
  margin-bottom: 0;
  accent-color: var(--blue);/*green); */
  cursor: pointer;
  transition: accent-color 0.3s ease;
}

.radio-options input[type="radio"]:focus {
  outline-offset: 2px;
  border-radius: 50%;
  box-shadow: none;
}

/* Contact Information Section */
.contact-info {
  text-align: center;
  width: 90%;
  padding: 32px;
  color: var(--dark-blue);/*green);*/
  background-color: var(--light-beige);
}

.contact-info p {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

address {
  font-style: normal;
}

/* .but-register {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.but-register:hover {
    background-color: #45a049;
} */


/************ FAQs *****************/
.faqs-style {
  max-width: 70%;
  margin: 0 auto;
  /* margin-bottom: 10px; */
  font-family: "Red Hat Text", serif;
}

/* Estil del resum (pregunta) amb cantonades arrodonides quan NO està obert */
summary {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  list-style-type: none; /* Elimina la fletxa per defecte */
  font-weight: bold;
  background-color: var(--darker-blue-2);
  color: white;
  border: 2px solid var(--darker-blue-2);
  margin-top: 10px;
  border-radius: 10px; /* Quan no està obert, totes les cantonades són arrodonides */
  transition: border-radius 0.2s ease-in-out;
}

/* Quan s'obre el desplegable, només es mantenen les cantonades arrodonides a dalt */
details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Canvi de fons en passar el cursor */
summary:hover {
  background-color: var(--white);
  color: var(--blue-button);
  border: 2px solid var(--blue-button);
}

/* Afegim una fletxa personalitzada */
summary::after {
  content: " ▼";
  font-size: 18px;
  color: white;
  padding-left: 10px;
}

/* Fletxa quan el desplegable està obert */
details[open] summary::after {
  content: " ▲";
}

/* Estil per al text de la resposta */
.answer {
  padding: 10px;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 0 0 10px 10px; /* Arrodonim només les cantonades inferiors */
}

/* Quan el `details` NO està obert, amaguem les cantonades arrodonides de la resposta */
details:not([open]) .answer {
  border-radius: 10px;
}



/*********** HORARI ICONA RELLOTGE *****************/
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 4px solid var(--darker-blue-2);
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.popup-content h2 {
  color: var(--darker-blue-2);
  text-align: center;
  font-size: 1.8rem;
}

.popup-content p {
  color: var(--blue-button);
  text-align: center;
  font-size: 1.2rem;
}

#close-popup {
  margin-top: 10px;
  padding: 5px 10px;
  width: 150px;
  height: 40px;
  background-color: var(--blue-button);
  border: 1px solid var(--blue-button);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

#close-popup:hover {
  background-color: white;
  font-weight: bold;
  border: 2px solid var(--blue-button);
  color: var(--blue-button);
}

